<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.v3_571g.dr_breatheapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".INFORMATION"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name=".History"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Course_Exercise"
            android:label="@string/title_activity_coarse" >
        </activity>
        <activity
            android:name=".Infor"
            android:label="@string/title_activity_infor" >
        </activity>
        <activity
            android:name=".Course_Table"
            android:label="@string/title_activity_course__table" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_main2" >
        </activity>
    </application>

</manifest>
